/* @https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-honF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

/* Stolen font files */
@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/TradeGothic/TradeGothic.eot');
  src: url('../fonts/TradeGothic/TradeGothic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TradeGothic/TradeGothic.woff2') format('woff2'),
       url('../fonts/TradeGothic/TradeGothic.woff') format('woff'),
       url('../fonts/TradeGothic/TradeGothic.ttf') format('truetype'),
    /* url('../fonts/TradeGothic/TradeGothic.svg#TradeGothic') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic-Light';
  src: url('../fonts/TradeGothic/TradeGothic-Light.eot');
  src: url('../fonts/TradeGothic/TradeGothic-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TradeGothic/TradeGothic-Light.woff2') format('woff2'),
       url('../fonts/TradeGothic/TradeGothic-Light.woff') format('woff'),
       url('../fonts/TradeGothic/TradeGothic-Light.ttf') format('truetype'),
       /* url('../fonts/TradeGothic/TradeGothic-Light.svg#TradeGothic-Light') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic-BoldCondTwenty';
  src: url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot');
  src: url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
    /* url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.woff2') format('woff2'), */
       url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.woff') format('woff'),
       url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.ttf') format('truetype'),
    /* url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.svg#TradeGothic') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicLTPro-Bold';
  src: url('../fonts/TradeGothic/TradeGothicLTPro-Bold.eot');
  src: url('../fonts/TradeGothic/TradeGothicLTPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TradeGothic/TradeGothicLTPro-Bold.woff2') format('woff2'),
       url('../fonts/TradeGothic/TradeGothicLTPro-Bold.woff') format('woff'),
       url('../fonts/TradeGothic/TradeGothicLTPro-Bold.ttf') format('truetype'),
       /* url('../fonts/TradeGothic/TradeGothicLTPro-Bold.svg#TradeGothicLTPro-Bold') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
